* {
    background-color: #111827;
    color: #E5E7EB;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    border: 1px solid #374151;
    ;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

    flex-wrap: wrap;

}





label,
input,
textarea {
    margin: 5px;
    border-radius: 10px;
    padding: 5px;

}

textarea {

    height: 200px;
    width: 180px;
    background-color: #E5E7EB;
    color: #111827
}

.hide {
    display: none;
}

.parte1,
.parte2,
.parte3,
.parte4,
.parte5,
.parte6,
.parte7,
.parte8,
.parte9,
.parte10,
.parte11,
.parte13,
.parte14 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid #374151;
    ;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;

}

.parte12 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    border: 1px solid #374151;
    ;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}


.parte2projeto {
    border: 1px solid #374151;
    ;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
}

.parte2div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.f1 {
    border: 1px solid #374151;

    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 200px;
}

.parte4div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}



.curso1 {
    border: 1px solid #374151;
    border-radius: 10px;
    width: 450px;
    padding: 10px;
    text-align: left;

}

.cursoHr {
    color: #FF8C00
}

.divDescricao {
    display: flex;
    flex-direction: column;

}

button {
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
    background-color: #E5E7EB;
    color: #111827;


}

.btn200 {
    width: 170px;
}

p {
    white-space: pre-wrap;
    /* mantém as quebras do usuário */
    overflow-wrap: break-word;
    /* força quebrar palavras muito longas */
    word-break: break-word;
    /* compatibilidade */
}

.btn1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Cores*/
input {
    background-color: #E5E7EB;
    color: #111827;
}

button,
h1,
h2 {
    color: #FF8C00;
}



button:hover {

    background-color: #FF7000;
    color: #E5E7EB;
}

button>i:hover {
    color: #FF7000;
}

a {
    color: #FF7000;
}

a:hover {
    color: white
}

#estiloimg {

    width: 250px;
    height: 200px;

}

.imgPai {
    display: flex;
    justify-content: center;
}

#hide {
    display: none;
}

.estiloResposta {
    background-color: #FF8C00;
    color: #111827;
    text-align: center;
    border: 1px solid #111827;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}





@media (min-width: 768px) {
    textarea {
        width: 540px;
    }

    .input1 {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}