header {
    display: flex;
    justify-content: center;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

    flex-wrap: wrap;

}





label,
input,
button,
textarea {
    margin: 5px;
    border-radius: 10px;
    padding: 5px;

}

textarea {

    height: 200px;
    width: 180px;




}

.hide {
    display: none;
}

.parte1,
.parte2,
.parte3,
.parte4,
.parte5,
.parte6,
.parte7,
.parte8,
.parte9,
.parte10,
.parte11,
.parte13,
.parte14 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;

}

.parte12 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}


.parte2projeto {
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
}

.parte2div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.f1 {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;

}

.parte4div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button {

    padding: 10px;
}

p {
    white-space: pre-wrap;
    /* mantém as quebras do usuário */
    overflow-wrap: break-word;
    /* força quebrar palavras muito longas */
    word-break: break-word;
    /* compatibilidade */
}

.btn1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


@media (min-width: 768px) {
    textarea {
        width: 50%;
    }

    .input1 {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}